<div class="form-popup-bloodpressure" id="bloodpressureForm">
    <form id="bloodpressure" action="/main/saveBloodpressure" class="form-container-bloodpressure" method="POST"
        onsubmit="return validatePressureData(this)">
        <section id="popup-left-bloodpressure">
            <h2 id="pop_up_header_bloodpressure">BLOOD PRESSURE</h2>
            <a href="https://www.aivoliitto.fi/en/bloodpressure/monitoring/" target=”_blank” id="bloodpressure_a">"How
                to measure?"</a><br><br>
            <label for="systolicPres">Systolic pressure: </label>
            <input id="systolicPres" class="smallInput" type="text" name="systolicPressure" placeholder="135mmHg" maxlength="3" required>
            <label for="diastolicPres">Diastolic pressure:</label>
            <input id="diastolicPres" class="smallInput" type="text" name="diastolicPressure" placeholder="85mmHg" maxlength="3" required>
            <br><br>
            <button form="bloodpressure" type="submit" class="bloodpressure_save_btn">Save</button>
        </section>

        <section id="popup-right-bloodpressure">
            <button type="button" class="bloodpressure_save_btn cancel" onclick="closeForm()"
                aria-hidden="true">&times;</button>
            <label class="meter_notes_labels_bp">Add notes</label>
            <textarea id="bloodpressuretext" class="bigInput_meters" type="text" name="bloodpressuretext"
                placeholder="Add notes. Max. 500 characters." maxlength="500"></textarea>
        </section>
    </form>
</div>