<div id="chartdiv4">
    <div class="chart_headers">
        <h2>Comments to patient</h2>
        <a href="/comments-from-professional" onclick="return openCommentspopup('/comments-from-professional')"><img
                title="Enlarge Professional comments list." class="magnifying_glass_img"
                src="assets/img/magnifying-glass.png"></a>
    </div>

    <table id="comment_table"></table>

    <div id="comment_field">
        <form id="add_comment" action="/charts/addComment" method="POST">
            <input class="comment_inputs" type="text" name="comment" placeholder="Add comment.">
        </form>
        <button id="comment_button" type="submit" form="add_comment">Add comment</button>
    </div>
</div>