<div class="form-popup-bloodpressure" id="infoBankForm">
    <form id="bloodpressure" action="/main/saveBloodpressure" class="form-container-bloodpressure" method="POST">
        <section id="popup-left-bloodpressure">
            <h2 id="pop_up_header_bloodpressure">Ammattilaisesi</h2>
            <img src="yths.jpeg" alt="YTHS">

            <button form="bloodpressure" type="submit" class="bloodpressure_save_btn" >Save</button>
        </section>
        <section id="popup-right-bloodpressure">
            <button type="button" class="bloodpressure_save_btn cancel" onclick="closeForm()"
                aria-hidden="true">&times;</button>
            <h2 id="pop_up_header_add_notes_bloodpressure">Uniapnea ja Hoito</h2>

            <img src=".jpeg" alt="ohjekuva_1">
            <h3>Aivoliitto</h3>
            <a href="https://www.aivoliitto.fi/en/bloodpressure/monitoring/" target=”_blank” id="bloodpressure_a">"Link"</a>

            <img src=".jpeg" alt="ohjekuva_2">
            <h3>YTHS</h3>
            <a href="https://www.yths.fi/en/frontpage/" target=”_blank” id="bloodpressure_a">"Link"</a>

            <img src=".jpeg" alt="ohjekuva_3">
            <h3>Käypähoito</h3>
            <a href="https://www.kaypahoito.fi" target=”_blank” id="bloodpressure_a">"Link"</a>

            <img src=".jpeg" alt="ohjekuva_4">
            <h3>Terveyskirjasto</h3>
            <a href="https://www.terveyskirjasto.fi/" target=”_blank” id="bloodpressure_a">"Link"</a>

            <img src=".jpeg" alt="ohjekuva_5">
            <h3>Sydänliitto</h3>
            <a href="https://sydan.fi/" target=”_blank” id="bloodpressure_a">"Link"</a>

            <img src=".jpeg" alt="ohjekuva_6">
            <h3>Duodecim</h3>
            <a href="https://www.duodecim.fi/2017/06/15/uniapneaan-liittyy-vakavia-terveysriskeja-varhainen-hoito-tarkeaa/" target=”_blank” id="bloodpressure_a">"Link"</a>
        </section>
    </form>
</div>