<div class="form-popup-infobank" id="infoBankForm">
    <article id="infobank" class="container-infobank">
        <section id="popup-left-infobank">
            <div>
            <h2 id="pop_up_header_infobank_left">Professional</h2>
            <img src="assets/img//Infobank/yths.png" id="ythslogo" alt="YTHS">
            </div>

            <div class="ammattiteksti">Email: yths@gmail.com <br> <br> Phone: 046 7101073 <br> <br> Other info: Don't panic</div>
        </section>
        <section id="popup-right-infobank">
            <button type="button" class="infobank_cancel_btn" onclick="closeForm()"
                aria-hidden="true">&times;</button>
            <h2 id="pop_up_header_infobank_right">Sleep apnea and treatment</h2>

            <div class="linkkikuvat">

            <div>
            <a href="https://www.aivoliitto.fi/en/bloodpressure/monitoring/" target=”_blank” id="brain_img"><img src="assets/img//Infobank/aivo.png" class="image1" alt="Link to brain association"></a>
            </div>

            <div>
            <a href="https://www.yths.fi/en/frontpage/" target=”_blank” id="Student_health_img"><img src="assets/img//Infobank/yths.png" alt="Student healthcare"></a>
            </div>

            <div>
            <a href="https://www.kaypahoito.fi" target=”_blank” id="kaypatreatment_img"><img src="assets/img//Infobank/kaypa.png" alt="kaypatreatment website"></a>
            </div>

            <div>
            <a href="https://www.terveyskirjasto.fi/" target=”_blank” id="Healthlibrary_img"><img src="assets/img//Infobank/kirjasto.png" alt="Health library"></a>
            </div>

            <div>
            <a href="https://sydan.fi/" target=”_blank” id="heart_img"><img src="assets/img//Infobank/sydan.png" alt="Heart association"></a>
            </div>

            <div>
            <a href="https://www.duodecim.fi/2017/06/15/uniapneaan-liittyy-vakavia-terveysriskeja-varhainen-hoito-tarkeaa/" target=”_blank” id="duodecim_img"><img src="assets/img//Infobank/duo.png" alt="Duodecim website"></a>
            </div>

            </div>
        </section>
    </article>
</div>