<div class="form-popup-messageSupport" id="messageSupportForm">
    <form id="messageSupport" action="/main/messageSupport" class="form-container-messageSupport" method="POST">
        <section id="popup-left-messageSupport">
            <h2 id="pop_up_header_messageSupport">MESSAGE IT-SUPPORT</h2>
          <h5 id="headers_msgSupport">Topic:</h5>
          <input class="smallInput" type="text" name="headerOfMessageSupport" placeholder="Header of your message." maxlength="50" required>
          <h5 id="headers_msgSupport">Message:</h5>
          <input class="bigInput" type="text" name="contenOfMessageSupport" placeholder="Your message. Max 500 characters." maxlength="500" required>
            <button form="messageSupport" type="submit" class="message_send_btn" >Send</button>
        </section>
        <section id="popup-right-messageSupport">
            <button type="button" class="message_send_btn cancel" onclick="closeForm()"
                aria-hidden="true">&times;</button>
            <h2 id="header_messageSupport">IT support - Contact</h2>
            
            <figure id="msgSupportFigure">
                <figcaption><a href="www.unis.fi">www.unis.fi</a></figcaption>
                <img class="msgSupportImg" src="assets/img/UNIS_logo.png" alt="Message to professional image. Stethoscope.">    
            </figure>

            <div class="support_details_box">
            <ul>
                <li><b>Asia 1: </b>Asiaa asiasta</li>
                <li class="listitemsMsgSupport"><b>E-mail: </b> suppport@unis.fi</li>
                <li class="listitemsMsgSupport"><b>Tel: </b> 010 123 1234 (Weekdays, 9-15)</li>
            </ul>
        </div>
        <button id="download_manua_btn"> Download UNIS manual (.PDF)</button>
        </section>
    </form>
</div>