<div class="form-popup-messagePro" id="messageToProForm">
    <form id="messageToPro" action="/main/messageToProfessional" class="form-container-messagePro" method="POST">
       
        <section id="popup-left-messagePro">
            <h2 id="pop_up_header_messagePro">MESSAGE YOUR PROFESSIONAL</h2>
            
            <label for="messageToProHeader" id="headers_msgPro">Topic:</label>
            <textarea class="smallInput_webform"  id="messageToProHeader" type="text" name="messageToProHeader" placeholder="Topic of your message." maxlength="50" required></textarea>
            <br>
            <label for="messageToProContent" id="headers_msgPro">Message:</label>
            <textarea  class="bigInput_webform" id="messageToProContent" type="text" name="messageToProContent" placeholder="Message to your healthcare professional. Max. 500 characters." maxlength="500" required></textarea>
            <br>
           <button form="messageToPro" type="submit" class="message_send_btn" >Send</button>
        </section>
       
        <section id="popup-right-messagePro">
            <button type="button" class="message_send_btn cancel" onclick="closeForm()"
                aria-hidden="true">&times;</button>
            <h2 id="header_messagePro">YTHS Contact</h2>
            
            <figure id="msgProFigure">
                <figcaption><a href="www.yths.fi">www.yths.fi</a></figcaption>
                <!-- Image source: Pixabay, Memed_Nurrohmad. https://pixabay.com/fi/users/memed_nurrohmad-3307648/ -->
                <img class="msgProImg" src="assets/img/msgPro_img.png" alt="Message to professional image. Stethoscope.">    
            </figure>

            <div class="YTHS_details_box">
            <ul>
                <li class="listitemsMsgPro"><b>Your professional: </b>Teija Terkka, th</li>
                <li class="listitemsMsgPro"><b>E-mail: </b> teija.terkka@yths.fi</li>
                <li class="listitemsMsgPro"><b>Tel: </b> 010 123 1234 (Weekdays, 9-15)</li>
            </ul>
        </div>
             </section>
    </form>
</div>