<div class="form-popup-messageSupport" id="messageSupportForm">
    <!-- Email API service at https://web3forms.com/-->
    <form id="messageSupport" action="https://api.web3forms.com/submit" class="form-container-messageSupport" method="POST">
       
        <section id="popup-left-messageSupport">
            <button type="button" class="message_send_btn cancel" id="closeBtn_left_msgSupport" onclick="closeForm()"
                aria-hidden="true">&times;</button>
            <h2 id="pop_up_header_messageSupport">MESSAGE IT-SUPPORT</h2>

            <input type="hidden" name="access_key" value="b00fece0-aacf-47f5-80d9-451392f497a8">
            <input type="hidden" name="redirect" value="http://localhost:3000/main">
            <input type="hidden" id="field_FirstName_msgSupport" name="firstName">
            <input type="hidden" id="field_LastName_msgSupport" name="lastName">   
            <input type="hidden" id="field_Email_msgSupport" name="email">        

            <label for="messageSupportHeader" id="headers_msgSupport">Topic: </label>
            <textarea class="smallInput_webform" id="messageSupportHeader" type="text" name="headerOfMessageSupport"
                placeholder="Topic of message" maxlength="100" required></textarea>
            <br>
            <label for="messageSupportContent" id="headers_msgSupport">Message: </label>
            <textarea class="bigInput_webform" id="messageSupportContent" type="text" name="contenOfMessageSupport"
                placeholder="Your message. Max. 2000 characters." maxlength="2000" required></textarea>
            <br>

            <button form="messageSupport" type="submit" class="message_send_btn" onclick="emailSentSup()">Send</button>
            <div id="snackbar_emailToSup">Email successfully sent to Support!</div>
        </section>

        <section id="popup-right-messageSupport">
            <button type="button" class="message_send_btn cancel" id="closeBtn_right_msgSupport" onclick="closeForm()"
                aria-hidden="true">&times;</button>
            <h2 id="header_messageSupport">IT support - Contact</h2>


            <figure id="msgSupportFigure">
                <figcaption><a href="www.unis.fi">www.unis.fi</a></figcaption>
                <img title="UNIS IT support" class="msgSupportImg" src="assets/img/UNISlogoVector.png"
                    alt="Message to support UNIS logo.">
            </figure>

            <div class="support_details_box">
                <ul>
                    <li class="listitemsMsgSupport"><span style="color: rgb(223, 3, 3);"><b>IMPORTANT:
                            </b></span>Contact UNIS support in case of technical problems. Do <b>NOT</b> attach your
                        personal information such as social security number or health related information!</li>
                    <li class="listitemsMsgSupport"><b>E-mail: </b> suppport@unis.fi</li>
                    <li class="listitemsMsgSupport"><b>Tel: </b> 010 123 1234 (Weekdays,9-15)</li>
                </ul>
            </div>
            <a href="/UNIS-manual.pdf" id="download_manual_btn" download>Download UNIS manual (.PDF)</a>
        </section>
    </form>
</div>