<div class="form-popup-mood" id="moodMeterForm">
    <form id="moodMeter" action="/main/saveMood" class="form-container-mood" method="POST" onsubmit="return validateMoodData(this)">
        <section id="popup-left-mood">
            <button type="button" class="mood_save_btn cancel" id="closeBtn_left_mood" onclick="closeForm()" aria-hidden="true">&times;</button>
            <h2 id="pop_up_header_mood">MOOD METER</h2>
            <p id="mood_p">"How is your mood today?"</p>
            <!-- Smiley meter image source: Adobe Stock. -->
            <div class="smiley_meter_mood">

                <label class="smiley_img_mood">
                    <input type="radio" name="moodvalue" value="1">
                    <img title="My mood is very bad. 1 point." class="smiley_img_mood" id="red_img_mood" onclick="redMarkMood('red_img_mood')"
                        src="assets/img/moodMeterImg/red_mood.png" alt="My mood is very bad.">
                </label>

                <label class="smiley_img_mood">
                    <input type="radio" name="moodvalue" value="2">
                    <img title="My mood is bad. 2 points." class="smiley_img_mood" id="orange_img_mood" onclick="orangeMarkMood('orange_img_mood')"
                        src="assets/img/moodMeterImg/orange_mood.png" alt="My mood is bad.">
                </label>

                <label class="smiley_img_mood">
                    <input type="radio" name="moodvalue" value="3">
                    <img title="My mood is moderate. 3 points." class="smiley_img_mood" id="yellow_img_mood" onclick="yellowMarkMood('yellow_img_mood')"
                        src="assets/img/moodMeterImg/yellow_mood.png" alt="My mood is moderate.">
                </label>

                <label class="smiley_img_mood">
                    <input type="radio" name="moodvalue" value="4">
                    <img title="My mood is good. 4 points." class="smiley_img_mood" id="green2_img_mood" onclick="green2MarkMood('green2_img_mood')"
                        src="assets/img/moodMeterImg/green2_mood.png" alt="My mood is good.">
                </label>

                <label class="smiley_img_mood">
                    <input type="radio" name="moodvalue" value="5">
                    <img title="My mood is very good. 5 points." class="smiley_img_mood" id="green1_img_mood" onclick="green1MarkMood('green1_img_mood')"
                        src="assets/img/moodMeterImg/green1_mood.png" alt="My mood is very good.">
                </label>

            </div>
            <button form="moodMeter" type="submit" class="mood_save_btn">Save</button>
            <div id="snackbar_moodMeter">Mood saved!</div>
            <div id="snackbar_moodMeterError">Select mood quality!</div>
            {{!-- <button form="moodMeter" type="submit" class="mood_save_btn" onclick="closeForm()">Save</button> --}}
        </section>

        <section id="popup-right-mood">
            <button type="button" class="mood_save_btn cancel" id="closeBtn_right_mood" onclick="closeForm()" aria-hidden="true">&times;</button>
            <label for="moodMeter_input" class="meter_notes_labels">Add notes</label>
            <textarea id="moodMeter_input" class="bigInput_meters" name="moodmetertext" placeholder="Add notes. Max. 500 characters."
                maxlength="500"></textarea>
        </section>
    </form>
</div>