<form id="register" class="form" action="/register" method="POST">
    <label for="firstName">First name</label>
    <input id="firstName" type="text" name="firstName" placeholder="First name" />

    <label for="lastName">Last name</label>
    <input id="lastName" type="text" name="lastName" placeholder="Last name" />

    <label for="email">Email</label>
    <input id="email" type="email" name="email" placeholder="Email" />

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Password" />
</form>

<button class="button" type="submit" form="register">Register</button>