<img title="UNIS Sleep Apnea application" class="unisLogo" src="assets/img/UNIS_logo.svg">
<article class="unis-details-box">
    <p>This is the raw prototype of <b>UNIS</b> sleep apnea application.
        <br><br> <b>UNIS</b> is an application for both sleep apnea patients and their healthcare professionals.
        <br><br> <b>UNIS</b> focuses on supporting communication and effective physiological observation between patients and their healthcare team.
        <br><br> <b>In case of any questions, contact:</b><br><br> iira.salo@metropolia.fi (front-end dev) <br> gavril.tschokkinen@metropolia.fi (back-end dev) <br> markus.anttila3@metropolia.fi (content and medical analysis)
    </p>
</article>