<div class="put-in-column">
    <span>UNIS sleep apnea application</span>
    <h1>Sign in</h1>
</div>

<form id="signin-form" class="form" action="" method="POST">
    <label for="username">Username</label>
    <input class="big-input" id="username" type="text" name="text_field" placeholder="Enter username">

    <label for="password">Password</label>
    <input class="big-input" id="password" type="password" name="text_field" placeholder="Enter password" height="100">
</form>

<div class="put-in-column">
    <button class="button" type="submit" form="signin_form">SIGN IN</button>
    <button class="button narrow-button align-center" type="Button">Register</button>
</div>

<div class="align-center">
    <span>Problems logging in? Click here.</span>
</div>