<div class="put-in-column">
    <span class="unis_app_header">UNIS-Pro sleep apnea application</span>
    <h1>Sign in</h1>
</div>

<!-- Log in form: Email and password -->
<form id="formID" class="form" action="/" method="POST">
    <label for="email">Email</label>
    <input class="big-input" id="email" type="email" name="email" placeholder="Email" required>

    <label for="password">Password</label>
    <input class="big-input" id="password" type="password" name="password" placeholder="Password" height="100" required>
</form><br>

<div class="put-in-column">
    <!-- Log in button -->
    <button class="button" type="submit" form="formID">SIGN IN</button><br>
</div>

<div class="align-center problems-logging-in-link">
    <span>Problems signing in? <a href="">Click here.</a></span>
</div>

{{!-- <script src="scripts/validateForm.js"></script> --}}