<div class="put-in-column">
    <span>UNIS sleep apnea application</span>
    <h1>Sign in</h1>
</div>

<!-- Log in form: Email and password -->
<form id="formID" class="form" action="/" method="POST">
    <label for="email">Email</label>
    <input tag="INPUT" class="big-input" id="email" type="email" name="email" placeholder="Email" required>

    <label for="password">Password</label>
    <input tag="INPUT" class="big-input" id="password" type="password" name="password" placeholder="Password" height="100" required>
</form>

<div class="put-in-column">
    <!-- Log in button -->
    <button class="button" type="submit" form="formID">SIGN IN</button>

    <!-- Register button -->
    <form class="form" action="/register" method="GET">
        <button class="button narrow-button align-center" type="submit">Register</button>
    </form>
</div>

<div class="align-center">
    <span>Problems logging in? Click here.</span>
</div>



{{!-- <script src="scripts/validateForm.js"></script> --}}