<div class="form-popup" id="sleepMeterForm">
    <form id="hopopo" action="/main/saveSleep" class="form-container" method="POST">
        <section id="popup-left">
            <h2 id="pop_up_header_sleep_meter">SLEEP METER</h2>
            <p id="sleep_p">"How did you sleep?"</p>
            <div class="smiley_meter">
                <img class="smiley_img" id="red_img" onclick="redMark('red_img')" src="assets/img/red.png"
                    alt="I slept very well.">
                <img class="smiley_img" id="orange_img" onclick="orangeMark('orange_img')" src="assets/img/orange.png"
                    alt="I slept well.">
                <img class="smiley_img" id="yellow_img" onclick="yellowMark('yellow_img')" src="assets/img/yellow.png"
                    alt="I slept moderately.">
                <img class="smiley_img" id="green2_img" onclick="green2Mark('green2_img')" src="assets/img/green2.png"
                    alt="I slept poorly.">
                <img class="smiley_img" id="green1_img" onclick="green1Mark('green1_img')" src="assets/img/green1.png"
                    alt="I slept very poorly.">
            </div>
            <button form="hopopo" type="submit" class="modal_save_btn" onclick="closeForm()">Save</button>
        </section>
        <section id="popup-right">
            <button type="button" class="modal_save_btn cancel" onclick="closeForm()"
                aria-hidden="true">&times;</button>
            <h2 id="pop_up_header_add_notes">Add notes</h2>
            <input type="text" name="comments" placeholder="Add notes. Max. 100 characters." maxlength="100">
        </section>
    </form>
</div>