<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Styles -->
    <title>UNIS app - History</title>
    <link rel="icon" type="image/png" href="assets/img/UNISfavicon.png">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#093C66">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="UNIS sleep apnea application's chart and graph views on patient's health related inputs within the app. Charts include historical information about heart rate variability, blood pressure, sleep and mood quality and health care professional's comments on measurements and overall health status. ">
    <meta name="keywords"
        content="UNIS, sleep apnea, heart rate variability and sleep apnea, sleep apnea application, sleep measurement, mood measurement, medical application for sleep apnea">
    <meta name="author" content="UNIS team">
    <link rel="stylesheet" href="stylesheets/chart_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f2829125cd.js" crossorigin="anonymous"></script>

    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
</head>

<!-- HTML -->

<body>
    {{{body}}}

    <footer>
        <p class="copy">This is a footer with copyrights</p>
    </footer>

    <script src="scripts/amcharts_sleepAndMood.js"></script>
    <script src="scripts/amcharts_bloodpressure.js"></script>
    <script src="scripts/amcharts_hrvAndPulse.js"></script>
    <script src="scripts/popup_charts.js"></script>
    <script src="scripts/get_comments.js"></script>

</body>

</html>