<!-- Styles -->
<link rel="stylesheet" href="/stylesheets/chart_style.css">
<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<!-- HTML -->
<h1>HRV and PULSE</h1>
<div id="chartdiv3"></div>

<h1>Bloodpressure</h1>
<div id="chartdiv2"></div>

<h1>Sleep and Mood</h1>
<div id="chartdiv1"></div>

<script src="scripts/amcharts_sleepAndMood.js"></script>
<script src="scripts/amcharts_bloodpressure.js"></script>
{{!-- <script src="scripts/amcharts_hrvAndPulse.js"></script> --}}