<!DOCTYPE html>
<html>

<head>
    <!-- Styles -->
    <title>UNIS app - History and analysis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="stylesheets/chart_popup_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f2829125cd.js" crossorigin="anonymous"></script>

    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
</head>

<!-- HTML -->

<body>

    {{{ body }}}

    <footer>
        <p class="copy">This is a footer with copyrights</p>
    </footer>

    <script src="scripts/amcharts_sleepAndMood.js"></script>
    <script src="scripts/amcharts_bloodpressure.js"></script>
    <script src="scripts/amcharts_hrvAndPulse.js"></script>
    <script src="scripts/popup_charts.js"></script>

</body>

</html>