<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#093C66"/>
    <meta name="description" content="UNIS is an application for both sleep apnea patients and their healthcare professionals. UNIS focuses on supporting communication and effective physiological observation between patients and their healthcare team.">
    <meta name="keywords" content="UNIS, sleep apnea, heart rate variability and sleep apnea, sleep apnea application, sleep measurement, mood measurement, medical application for sleep apnea, new sleep apnea app">
    <meta name="author" content="UNIS team">
    <title>UNIS App</title>
    <link rel="stylesheet" href="stylesheets/split-style.css">
    <link rel="stylesheet" href="stylesheets/alerts_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>

<body>
    <main id="container">

        {{{ body }}}

    </main>
    <script src="scripts/valueValidator.js"></script>
</body>

</html>