    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    <li>
                        <h1>Blood pressure</h1>
                    </li>
                    <li><i title="Calendar" class="fa-sharp fa-regular fa-calendar-days"></i></li>
                </ul>
            </nav>
        </header>

        <main class="container">
                <div id="chart-bp">
                    <div id="chartdiv2"></div>
                </div>
        </main>
    </div>