<div class="wrapper">
    <header>
        <nav>
            <ul>
                <li>
                    <h1>Comments from professional</h1>
                </li>
                <li><i title="Calendar" class="fa-sharp fa-regular fa-calendar-days"></i></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <div id="chart-comments">
            <table id="comment_table"></table>
        </div>
    </main>
</div>