<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/stylesheet.css">
</head>

<body>
    <main id="container">
        <section class="left-side">

            <div class="put-in-column">
                <span>UNIS sleep apnea application</span>
                <h1>Sign in</h1>
            </div>

            <form id="signin-form" class="form" action="" method="POST">
                <label for="username">Username</label>
                <input class="big-input" id="username" type="text" name="text_field" placeholder="Enter username">

                <label for="password">Password</label>
                <input class="big-input" id="password" type="password" name="text_field" placeholder="Enter password" height="100">
            </form>

            <div class="put-in-column">
                <button class="button" type="submit" form="signin_form">KIRJAUDU</button>
                <button class="button narrow-button align-center" type="Button">Rekisteröidy</button>
            </div>

            <div class="align-center">
                <span>Problems login in? Click here.</span>
            </div>

        </section>
        <section class="right-side">
            <img src="../public/img/unis-logo.png" width="200" height="250" />
            <div class="gray-box">
                <span>Nice info about the application.</span>
            </div>
        </section>
    </main>
</body>

</html>