<section id="left">

    <div class="patient_info_list">
        <h2 class="fl_name">{{firstName}}</h2>
        <h2 class="fl_name">{{lastName}}</h2>
        <!-- Userimage source: Pixabay, Raphael Silva. https://pixabay.com/fi/users/raphaelsilva-4702998/ -->
        <img title="Profile image" class="userimg" src="assets/img/user.png" alt="This is an image the user.">
        <div class="profile_details_box">
            <ul>
                <li>ID: 129333</li>
            </ul>
        </div>

    </div>
</section>

<section id="right">

        <ul id="patientList">

        </ul>
</section>