<section id="left">

    <div class="patient_info_list">
        <h4 class="f_name">{{firstName}}</h4>
        <h4 class="l_name">{{lastName}}</h4>
        <img class="userimg" src="assets/img/user.png" alt="This is an image the user.">
        <div class="profile_details_box">
            <ul>
                <li><b>Height: </b> <span id="height">000</span> cm</li><br>
                <li><b>Weight: </b><span id="weight">000</span> kg</li><br>
                <li><b>BMI= </b><span id="bmi">00</span></li><br>
                <li><b>General health: </b><span id="general_health">Not available</span></li><br>
                <li><b>Medications: </b><span id="medications">Not available</span></li><br>
                <li><b>Sleep apnea: </b><span id="bmi">Not available</span></li>
            </ul>
        </div>
        <button class="edit_profile_button" onclick="openFormChangeUserInfo()">Edit profile</button>
            {{> (changeUserInfo) }}
    </div>
</section>

<section id="right">
    <button id="hrv_load">
        <img id="heart_img" src="assets/img/heart_ekg.png" alt="Download HRV measurements">
        <br><span>HRV download</span></button></button>
    <button id="main_function_measure" onclick="openFormSleep()">
        <img id="sleep_img" src="assets/img/sleep.png" alt="Sleep meter">
        <br><span>Sleep meter<img id="green_light_img" src="assets/img/green_light.png"
                alt="Sleep meter. Green light. Measured today."></span></button>

    {{> (sleepMeter) }}

    <button id="main_function_measure" onclick="openFormMood()">
        <img id="mood_img" src="assets/img/emotions.png" alt="Mood meter.">
        <br><span>Mood meter<img id="green_light_img" src="assets/img/green_light.png"
                alt="Mood meter. Green light. Measured today."></span></button>
    
    {{> (moodMeter) }}
    
    <button id="main_function_measure" onclick="openFormBP()">
        <img id="blood_pressure_img" src="assets/img/blood_pressure.png" alt="Blood pressure measurements.">
        <br><span>Blood pressure<img id="green_light_img" src="assets/img/green_light.png"
                alt="Blood pressure. Green light. Measured today."></span></button>

    {{> (bloodpressureMeter) }}            

    <button id="main_function_other">
        <img id="oxygen_img" src="assets/img/oxygen.png" alt="Gadgets to treat sleep apnea and their evaluation.">
        <br><span>Gadgets</span></button>
    <button id="main_function_other">
        <img id="graph_img" src="assets/img/graph.png" alt="History and analysis of measurements.">
        <br><span>History</span></button>
    <button id="main_function_other">
        <img id="book_img" src="assets/img/book.png" alt="Infobank for people with sleep apnea.">
        <br><span>Infobank</span></button>
</section>