    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    <li>
                        <h1>Sleep and Mood</h1>
                    </li>
                    <li><i class="fa-sharp fa-regular fa-calendar-days"></i></li>
                </ul>
            </nav>
        </header>

        <main class="container">
                <div id="chart-sleepmood">
                    <div id="chartdiv1"></div>
                </div>
        </main>
    </div>