/*SLEEP METER*/

/* Snackbar / alert */
#snackbar_sleepMeter {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  bottom: 30px; 
}

/* Show the snackbar when clicking on a button */
#snackbar_sleepMeter.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/*MOOD METER*/

/* Snackbar / alert */
#snackbar_moodMeter {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  bottom: 30px; 
}

/* Show the snackbar when clicking on a button */
#snackbar_moodMeter.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/*BLOOD PRESSURE METER*/

/* Snackbar / alert */
#snackbar_bpMeter {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  bottom: 30px; 
}

/* Show the snackbar when clicking on a button */
#snackbar_bpMeter.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/*MESSAGE SUPPORT*/

/* Snackbar / alert */
#snackbar_emailToSup {
  visibility: hidden;
  width: 40%;
  min-width: 200px;
  margin-left: -25%;
  background-color: #009e47bc; 
  color: #fff; 
  font-size: 2em;
  text-align: center; 
  border-radius: 5px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%;
  bottom: 50%; 
}

/* Show the snackbar when clicking on a button */
#snackbar_emailToSup.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/*MESSAGE PROFESSIONAL*/

/* Snackbar / alert */
#snackbar_emailToPro {
  visibility: hidden;
  width: 40%;
  min-width: 200px;
  margin-left: -25%;
  background-color: #009e47bc; 
  color: #fff; 
  font-size: 2em;
  text-align: center; 
  border-radius: 5px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%;
  bottom: 50%;
  }
  
  /* Show the snackbar when clicking on a button */
  #snackbar_emailToPro.show {
    visibility: visible; /* Show the snackbar */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  /*CHANGE USER INFO /EDIT PROFILE*/

/* Snackbar / alert */
#snackbar_changeUserInfo {
  visibility: hidden;
  width: 40%;
  min-width: 200px;
  margin-left: -25%;
  background-color: #009e47bc; 
  color: #fff; 
  font-size: 2em;
  text-align: center; 
  border-radius: 5px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%;
  bottom: 50%;
}

/* Show the snackbar when clicking on a button */
#snackbar_changeUserInfo.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }