* {}


body {
    margin: 0;
}

html {
    background-color: rgb(233, 233, 233);
    font-family: 'Roboto', sans-serif;
}

.clear {
    clear: both;
}

.wrapper {
    height: 100%;
    background-color: white;
    padding: 24px;
    margin-left: 1vw;
    margin-right: 1vw;
    z-index: 1;
}

header {
    display: flex;
    height: 1em;
    padding-bottom: 40px;
    padding-top: 16px;
    border-bottom: 2px solid black;
    align-items: center;
    background: #fffcfc;
    justify-content: flex-start;
}

header nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  align-items: center;
  flex-direction: row;
}

header nav li {
  padding: 2vw;
}

.fa-calendar-days {
  color: rgb(0, 0, 0);
  font-size: 3em;
}

.fa-calendar-days:hover {
  color: rgb(85, 0, 255); 
}

.container {
    display: flex;
    background-color: white;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 8px;
}

#chart-hrv {
  width: 100%;
  flex-wrap: wrap;
  background-color: #ffebeb5b;
  display: flex;
  justify-content: center;
  border-style: ridge;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-left: 4px;
}

#chart-bp {
  width: 100%;
  flex-wrap: wrap;
  background-color: #cbc8ff21;
  display: flex;
  justify-content: center;
  border-style: ridge;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-left: 4px;
}

#chart-sleepmood {
  width: 100%;
  flex-wrap: wrap;
  background-color: #cdffc634;
  display: flex;
  justify-content: center;
  border-style: ridge;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-left: 4px;
}

#chart-comments {
  width: 100%;
  flex-wrap: wrap;
  background-color: #ffebeb35;
  display: flex;
  justify-content: center;
  border-style: ridge;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-left: 4px;
}

#chartdiv1 {
  width: 100%;
  height: 600px;
}

#chartdiv2 {
  width: 100%;
  height: 600px;
}

#chartdiv3 {
  width: 100%;
  height: 600px;
}

#chartdiv4 {
  width: 100%;
  height: 600px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    height: fit-content;
    margin-left: 1vw;
    margin-right: 1vw;
    border-top: 2px solid black;
}

.copy {
    text-align: center;
    color: black;
    font-style: italic;
}

@media screen and (max-width:750px) {

  .wrapper {
      min-width: 200px;
  }

  .charts-flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }


}