
body {
  width: 100%;
  margin-top: 16px;
  background-color: #7494AC;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: #7494AC;
}

.clear {
  clear: both;
}

.wrapper {
  height: 100%;
  background-color: white;
  padding: 24px;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  max-width: 1300px;
}

header {
  display: flex;
  height: 1em;
  padding-bottom: 40px;
  padding-top: 16px;
  border-bottom: 2px solid black;
  align-items: center;
  background: #fffcfc;
  justify-content: space-around;
}

.arrow {
  border: solid #0D3D64;
  border-width: 0 6px 6px 0;
  display: inline-block;
  height: 12px;
  width: 12px;
  padding: 2px;
}

.arrow:hover {
  border-color: rgb(85, 0, 255);
  text-shadow: 1px 1px 2px #3b3b3b;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#back-arrow-text {
  font-size: 1.2em;
  font-weight: 700;
  color: #0D3D64;
}

header nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  align-items: center;
}

header nav li {
  padding: 6vw;
}

header nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

header nav a:hover {
  color: rgb(85, 0, 255);
  text-decoration: underline;
}

.fa-circle-info {
  color: #0D3D64;
  font-size: 3em;
}

.fa-circle-info:hover {
  color: rgb(85, 0, 255);
}

.fa-calendar-days {
  color: #0D3D64;
  font-size: 3em;
}

.fa-calendar-days:hover {
  color: rgb(85, 0, 255);
}

.container {
  display: flex;
  background-color: white;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 8px;
}

.charts-flex {
  display: flex;
  width: 100%;
}

#left-up {
  width: 800px;
  flex-wrap: wrap;
  background-color: #ffebeb86;
  display: flex;
  justify-content: center;
  border-style: ridge;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-right: 4px;
  padding-bottom: 8px;
}

#right-up {
  width: 800px;
  flex-wrap: wrap;
  background-color: #cbc8ff3c;
  display: flex;
  justify-content: center;
  border-style: ridge;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-left: 4px;
  padding-bottom: 8px;
}

#left-down {
  width: 800px;
  flex-wrap: wrap;
  background-color: #cdffc684;
  display: flex;
  justify-content: center;
  border-style: ridge;
  border-radius: 5px;
  margin-top: 4px;
  margin-right: 4px;
  padding-bottom: 8px;
}

#right-down {
  width: 800px;
  flex-wrap: wrap;
  background-color: #feffbcb7;
  display: flex;
  justify-content: center;
  border-style: ridge;
  border-radius: 5px;
  margin-top: 4px;
  margin-left: 4px;
  padding-bottom: 8px;
}

#chartdiv1 {
  width: 90%;
  height: 300px;
  border: 1px solid black;
  background-color: #ffffffb7;
  border-radius: 5px;
}

#chartdiv2 {
  width: 90%;
  height: 300px;
  border: 1px solid black;
  background-color: #ffffffb7;
  border-radius: 5px;
}

#chartdiv3 {
  width: 90%;
  height: 300px;
  border: 1px solid black;
  background-color: #ffffffb7;
  border-radius: 5px;
}

#chartdiv4 {
  width: 90%;
  height: 260px;
}

#comment_field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#comment_button {
  margin-top: 8px;
  width: 30%;
}

.comment_inputs {
  width: 200%;
  height: 24px;
  margin-top: 8px;
}


#comment_table {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid black;
  padding: 16px;
  background-color: #ffffffb7;
  border-radius: 5px;
  display: inline-block;
  overflow: auto;
  line-height: 1.5;
}

th {
  text-align: left;
  font-size: 1.1em;
}

.chart_headers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: #0D3D64;
}

.magnifying_glass_img {
  width: 25px;
  height: 25px;
  padding: 16px;
}

.magnifying_glass_img:hover {
  width: 30px;
  height: 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7494AC;
  height: fit-content;
  margin-left: 1vw;
  margin-right: 1vw;
  max-width: 1300px;
}

.copy {
  text-align: center;
  color: black;
  font-style: italic;
}

@media screen and (max-width:750px) {

  .wrapper {
    min-width: 200px;
  }

  .charts-flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    height: 8px;
    width: 8px;
    padding: 2px;
  }

  #back-arrow-text {
    font-size: 1em;
    font-weight: 700;
  }

}