/* The popup/modal form - hidden by default */


/*GENERAL STYLES*/

* {
    box-sizing: border-box;
}

/*Hide radio buttons*/
[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

.bigInput_webform {
    resize: none;
    height: 50%;
    width: 80%;
    border-radius: 5px;
    padding: 8px;
    font-size: 1.2em;
}

.smallInput_webform {
    resize: none;
    height: 10%;
    width: 80%;
    border-radius: 5px;
    padding: 8px;
    font-size: 1.2em;
}

.bigInput_meters {
    resize: none;
    height: 70%;
    width: 75%;
    border-radius: 5px;
    margin-top: 24px;
    padding: 8px;
    font-size: 1.2em;
}

.inputs_style {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    line-height: 24px;
    overflow: auto;
    justify-content: space-between;
}

.input_margin {
    margin-bottom: 16px;
}

.meter_notes_labels {
    font-size: 1.5em;
    margin-top: -16px;
}


/*SLEEPMETER*/
.form-popup-sleep {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    height: 80%;
    width: 70%;
    max-width: 900px;
    max-height: 550px;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .4);
    overscroll-behavior: contain;
    overflow: auto;
}

#popup-left-sleep {
    flex: 1.5;
    background-color: white;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-radius: 5px;
    flex-direction: column;
}

#popup-right-sleep {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #7494ac57;
    border-style: ridge;
    border-radius: 5px;
    flex-direction: column;
}

#sleep_p {
    color: black;
    font-size: 1.5em;
    font-style: italic;
    margin-top: 5%;
}

#pop_up_header_sleep_meter {
    margin-top: -15px;
}

#pop_up_header_add_notes_sleep {
    margin-top: -15px;
}

#closeBtn_left_sleep {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

/* Add styles to the form container */
.form-container-sleep {
    height: 100%;
    min-height: 400px;
    padding: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    overscroll-behavior: contain;
    overflow: auto;
}

/* Set a style for the submit/login button */
.form-container-sleep .sleep_save_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 5%;
    border-width: 2px;
    align-items: center;
    appearance: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    list-style: none;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 1.1em;
    font-weight: 600;
}

/* Add a red background color to the cancel button */
.form-container-sleep .cancel {
    background-color: red;
    align-self: flex-end;
    align-items: center;
    padding: 0px 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 2em;
}

/* Add some hover effects to buttons */
.form-container-sleep .sleep_save_btn:focus {
    box-shadow: #515152 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.form-container-sleep .sleep_save_btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(85, 0, 255);
}

.form-container-sleep .sleep_save_btn:active {
    box-shadow: #515152 0 3px 7px inset;
    transform: translateY(2px);
}

.smiley_meter_sleep {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 15%;
}

.smiley_img_sleep {
    width: 15%;
    min-width: 70px;
    margin-top: -6%;
    border: 4px dotted rgba(255, 255, 255, 0);
}

/*MOODMETER*/

.form-popup-mood {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    height: 80%;
    width: 70%;
    max-width: 900px;
    max-height: 550px;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .4);
    overscroll-behavior: contain;
    overflow: auto;
}

#popup-left-mood {
    flex: 1.5;
    background-color: white;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-radius: 5px;
    flex-direction: column;
}

#popup-right-mood {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #7494ac57;
    border-radius: 5px;
    border-style: ridge;
    flex-direction: column;
}

#mood_p {
    color: black;
    font-size: 1.5em;
    font-style: italic;
    margin-top: 5%;
    justify-self: center;
}

#pop_up_header_mood {
    margin-top: -15px;
}

#pop_up_header_add_notes_mood {
    margin-top: -15px;
}

#closeBtn_left_mood {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

/* Add styles to the form container */
.form-container-mood {
    height: 100%;
    padding: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    overscroll-behavior: contain;
    overflow: auto;
}

/* Set a style for the submit/login button */
.form-container-mood .mood_save_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 5%;
    border-width: 2px;
    align-items: center;
    appearance: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 1.1em;
    font-weight: 600;
}

/* Add a red background color to the cancel button */
.form-container-mood .cancel {
    background-color: red;
    align-self: flex-end;
    align-items: center;
    padding: 0px 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px !important;
    font-size: 2em;
}

/* Add some hover effects to buttons */
.form-container-mood .mood_save_btn:focus {
    box-shadow: #515152 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.form-container-mood .mood_save_btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(85, 0, 255);
}

.form-container-mood .mood_save_btn:active {
    box-shadow: #515152 0 3px 7px inset;
    transform: translateY(2px);
}

.smiley_meter_mood {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 15%;
}

.smiley_img_mood {
    width: 15%;
    min-width: 70px;
    margin-top: -6%;
    border: 4px dotted rgba(255, 255, 255, 0);
}

/*BLOOD PRESSURE FORM*/

.form-popup-bloodpressure {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    height: 80%;
    width: 70%;
    max-width: 900px;
    max-height: 550px;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .4);
    overscroll-behavior: contain;
    overflow: auto;
}

#popup-left-bloodpressure {
    flex: 1.5;
    background-color: white;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
}

#popup-right-bloodpressure {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #7494ac57;
    border-radius: 5px;
    border-style: ridge;
    flex-direction: column;
}

#bloodpressure_a {
    color: rgb(26, 0, 156);
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 5%;
}

#pop_up_header_bloodpressure {
    margin-top: -40px;
}

#closeBtn_left_bp {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

/* Add styles to the form container */
.form-container-bloodpressure {
    height: 100%;
    padding: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    overscroll-behavior: contain;
    overflow: auto;
}

/* input fields */

.form-container-bloodpressure input[type=text].smallInput {
    padding: 10px;
    background: #f1f1f1;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    margin-bottom: 5%;
}

/* When the inputs get focus, do something */
.form-container-bloodpressure input[type=text]:focus.smallInput {
    background-color: white;
    outline: none;
    border-radius: 8px;
}

.meter_notes_labels_bp {
    font-size: 1.5em;
    margin-top: -24px;
}

.bp_labels {
    display:flex;
    flex-direction:column;
}

/* Set a style for the submit/login button */
.form-container-bloodpressure .bloodpressure_save_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 5%;
    border-width: 2px;
    align-items: center;
    appearance: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 1.1em;
    font-weight: 600;
}

/* Add a red background color to the cancel button */
.form-container-bloodpressure .cancel {
    background-color: red;
    align-self: flex-end;
    align-items: center;
    padding: 0px 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px !important;
    font-size: 2em;
}

/* Add some hover effects to buttons */
.form-container-bloodpressure .bloodpressure_save_btn:focus {
    box-shadow: #515152 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.form-container-bloodpressure .bloodpressure_save_btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(85, 0, 255);
}

.form-container-bloodpressure .bloodpressure_save_btn:active {
    box-shadow: #515152 0 3px 7px inset;
    transform: translateY(2px);
}

/*SEND MESSAGE TO PROFESSIONAL*/

.form-popup-messagePro {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    height: 80%;
    width: 70%;
    max-width: 900px;
    max-height: 550px;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .4);
    overscroll-behavior: contain;
    overflow: auto;
}

#popup-left-messagePro {
    flex: 1.5;
    background-color: white;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-radius: 5px;
    flex-direction: column;
}

#popup-right-messagePro {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #7494ac57;
    border-radius: 5px;
    border-style: ridge;
    flex-direction: column;
}

#pop_up_header_messagePro {
    margin-top: -40px;
}

#header_messagePro {
    margin-top: -32px;
    margin-bottom: 8px;
}

#closeBtn_left_msgPro {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

#msgProFigure {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#msgProFigure figcaption {
    margin-bottom: 10px;
}

.msgProImg {
    border-radius: 50%;
    width: 30%;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.YTHS_details_box {
    background-color: rgb(241, 241, 241);
    padding-bottom: 0.2em;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    width: 80%;
    margin: 28px;
    height: 100%;
    min-height: 180px;
    padding-top: 32px;
    padding-right: 32px;
}

.YTHS_details_box ul {
    list-style-type: none;
    font-size: 1em;
    margin-left: 2em;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1em;
}

.YTHS_details_box ul .listitemsMsgPro {
    margin-top: -32px;
    margin-left: -16px;
}

/* Add styles to the form container */
.form-container-messagePro {
    height: 100%;
    padding: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    overscroll-behavior: contain;
    overflow: auto;
}

.headers_msgPro {
    align-self: baseline;
    margin-left: 10%;
    margin-bottom: 1%;
}

/* Set a style for the submit/login button */
.form-container-messagePro .message_send_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 5%;
    border-width: 2px;
    align-items: center;
    appearance: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 1.1em;
    font-weight: 600;
}

/* Add a red background color to the cancel button */
.form-container-messagePro .cancel {
    background-color: red;
    align-self: flex-end;
    align-items: center;
    padding: 0px 0px;
    border-radius: 5px;
    width: 40px;
    min-height: 40px;
    font-size: 2em;
}

/* Add some hover effects to buttons */
.form-container-messagePro .message_send_btn:focus {
    box-shadow: #515152 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.form-container-messagePro .message_send_btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(85, 0, 255);
}

.form-container-messagePro .message_send_btn:active {
    box-shadow: #515152 0 3px 7px inset;
    transform: translateY(2px);
}

/*MESSAGE TO SUPPORT*/
.form-popup-messageSupport {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    height: 80%;
    width: 70%;
    max-width: 900px;
    max-height: 550px;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .4);
    overscroll-behavior: contain;
    overflow: auto;
}

#popup-left-messageSupport {
    flex: 1.5;
    background-color: white;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-radius: 5px;
    flex-direction: column;
}

#popup-right-messageSupport {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #7494ac57;
    border-radius: 5px;
    border-style: ridge;
    flex-direction: column;
    overflow: auto;
}

#pop_up_header_messageSupport {
    margin-top: -32px;
}

#header_messageSupport {
    margin-top: -32px;
    margin-bottom: 8px;
}

#closeBtn_left_msgSupport {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

#msgSupportFigure {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#msgSupportFigure figcaption {
    margin-bottom: 10px;
}

.msgSupportImg {
    border-radius: 40%;
    width: 50%;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.support_details_box {
    background-color: rgb(241, 241, 241);
    padding-bottom: 0.2em;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    width: 80%;
    margin: 24px;
    height: 200px;
    padding: 24px;
    overflow: auto;
}

.support_details_box ul {
    list-style-type: none;
    font-size: 0.8em;
    margin-left: -32px;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
}

.support_details_box ul .listitemsMsgSupport {
    margin-top: -32px;
}

/* Add styles to the form container */
.form-container-messageSupport {
    height: 100%;
    padding: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    overscroll-behavior: contain;
    overflow: auto;
}

.headers_msgSupport {
    align-self: flex-start;
    margin-left: 10%;
    margin-bottom: 1%;
}

#download_manual_btn {
    width: 80%;
    height: 32px;
    margin-bottom: 24px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 2px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    font-size: 1em;
    font-weight: 600;
}

#download_manual_btn:focus {
    box-shadow: #b0b0e4 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#download_manual_btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(85, 0, 255);
}

#download_manual_btn:active {
    box-shadow: #b0b0e4 0 3px 7px inset;
    transform: translateY(2px);
}

/* Set a style for the submit/login button */
.form-container-messageSupport .message_send_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 5%;
    border-width: 2px;
    align-items: center;
    appearance: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 1.1em;
    font-weight: 600;
}

.form-container-messageSupport .message_send_btn:focus {
    box-shadow: #515152 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.form-container-messageSupport .message_send_btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(85, 0, 255);
}

.form-container-messageSupport .message_send_btn:active {
    box-shadow: #515152 0 3px 7px inset;
    transform: translateY(2px);
}

/* Add a red background color to the cancel button */
.form-container-messageSupport .cancel {
    background-color: red;
    align-self: flex-end;
    align-items: center;
    padding: 0px 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 2em;
}

/*CHANGE USER INFO*/

.form-popup-changeUserInfo {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    height: 80%;
    width: 70%;
    max-width: 900px;
    max-height: 550px;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .4);
    overscroll-behavior: contain;
    overflow: auto;
}

#popup-left-changeUserInfo {
    flex: 1.5;
    background-color: white;
    display: flex;
    align-items: first baseline;
    border-style: ridge;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 32px;
}

#popup-right-changeUserInfo {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #7494ac57;
    border-radius: 5px;
    flex-direction: column;
    line-height: 1;
    border-style: ridge;
}

#pop_up_header_changeUserInfo {
    margin-top: -40px;
    margin-bottom: 26px;
}

#closeBtn_left_changeUserInfo {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

.fl_name {
    margin-top: -32px;
    line-height: 1.5;
}

/* Add styles to the form container */
.form-container-changeUserInfo {
    height: 100%;
    padding: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    overscroll-behavior: contain;
    overflow: auto;
}

.profile_details_box_popup {
    background-color: rgb(241, 241, 241);
    padding-bottom: 8px;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    width: 80%;
    margin-bottom: 28px;
    height: 100%;
    max-height: 250px;
    padding-top: 8px;
    overflow: auto;
}

.profile_details_box_popup ul {
    list-style-type: none;
    font-size: 0.8em;
    margin-left: 1em;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2em;
}

/* input fields */

.form-container-changeUserInfo input[type=text].smallInput,
input[type=email].smallInput,
input[type=password].smallInput {
    padding: 5px;
    background: #e3e3e3;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}

/* When the inputs get focus, do something */
.form-container-changeUserInfo input[type=text]:focus.smallInput,
input[type=email]:focus.smallInput,
input[type=password]:focus.smallInput {
    background-color: white;
    outline: none;
    border-radius: 8px;
}

/* Set a style for the submit/login button */
.form-container-changeUserInfo .changeUserInfo_send_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 5%;
    border-width: 2px;
    align-items: center;
    appearance: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 1.1em;
    font-weight: 600;
}

/* Add a red background color to the cancel button */
.form-container-changeUserInfo .cancel {
    background-color: red;
    align-self: flex-end;
    align-items: center;
    padding: 0px 0px;
    border-radius: 5px;
    width: 40px;
    min-height: 40px;
    font-size: 2em;
}

/* Add some hover effects to buttons */
.form-container-changeUserInfo .changeUserInfo_send_btn:focus {
    box-shadow: #515152 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.form-container-changeUserInfo .changeUserInfo_send_btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(85, 0, 255);
}

.form-container-changeUserInfo .changeUserInfo_send_btn:active {
    box-shadow: #515152 0 3px 7px inset;
    transform: translateY(2px);
}

/*INFO BANK*/

.linkkikuvat{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 24px;
    background-color: white;
}
.linkkikuvat div{
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    line-height: 5;
    background-color: white;

    
}
.linkkikuvat div img{
    width: 150px;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#pop_up_header_infobank_right {
    margin-top: -40px;
   
}
#popup-right-infobank {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgb(151, 150, 150);
    border-radius: 5px;
    flex-direction: column;
    border-style: ridge;
}

#ythslogo{
    width: 300px;
}

#pop_up_header_infobank_left {
    margin-top: 40px;
    text-align: center;
    vertical-align: middle;
}

.form-popup-infobank {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    height: 80%;
    width: 70%;
    max-width: 900px;
    max-height: 550px;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .4);
    overscroll-behavior: contain;
    overflow: auto;
}

.container-infobank {
    height: 100%;
    padding: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    overscroll-behavior: contain;
    overflow: auto;
}

/* Add some hover effects to buttons */
.infobank_cancel_btn:focus {
    box-shadow: #515152 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.infobank_cancel_btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(85, 0, 255);
}

.infobank_cancel_btn:active {
    box-shadow: #515152 0 3px 7px inset;
    transform: translateY(2px);
}

.infobank_cancel_btn {
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 5%;
    border-width: 2px;
    appearance: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-weight: 600;
    background-color: red;
    align-self: flex-end;
    align-items: center;
    padding: 0px 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px !important;
    font-size: 2em;
}

.ammattiteksti {
    align-self: flex-start;
    font-weight: bold;
}


/*MEDIA SCREENS - MOBILE and TABLET*/


@media screen and (max-width:750px) {

    /*GENERAL STYLES*/

    .bigInput_webform {
        height: 300px;
    }

    .smallInput_webform {
        height: 5%;
    }

    .bigInput_meters {
        height: 300px;
        margin-bottom: 24px;
    }

    /*SLEEP METER*/

    .form-container-sleep {
        flex-direction: column;
    }

    .form-popup-sleep {
        margin-bottom: 25%;
        max-height: 800px;
    }

    #popup-left-sleep {
        padding-left: 4px;
    }

    #closeBtn_left_sleep {
        opacity: 1;
        cursor: pointer;
        pointer-events: initial;
    }

    #closeBtn_right_sleep {
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

    #pop_up_header_sleep {
        margin-top: 0px;
    }

    /*MOOD METER*/

    .form-container-mood {
        flex-direction: column;
    }

    .form-popup-mood {
        margin-bottom: 25%;
        max-height: 800px;
    }

    #popup-left-mood {
        padding-left: 4px;
    }

    #closeBtn_left_mood {
        opacity: 1;
        cursor: pointer;
        pointer-events: initial;
    }

    #closeBtn_right_mood {
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

    #pop_up_header_mood {
        margin-top: 0px;
    }

    /*BLOOD PRESSURE METER*/

    .form-container-bloodpressure {
        flex-direction: column;
    }

    .form-popup-bloodpressure {
        margin-bottom: 25%;
        max-height: 800px;
    }

    #closeBtn_left_bp {
        opacity: 1;
        cursor: pointer;
        pointer-events: initial;
    }

    #closeBtn_right_bp {
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

    #pop_up_header_bloodpressure {
        margin-top: 0px;
    }

    /*MESSAGE TO PROFESSIONAL POPUP*/

    .form-container-messagePro {
        flex-direction: column;
    }

    .form-popup-messagePro {
        margin-bottom: 25%;
        max-height: 800px;
    }

    #pop_up_header_messagePro {
        margin-left: 24px;
        margin-top: -4px;
    }

    .YTHS_details_box {
        padding-top: 24px;
        height: 200px;
    }

    .YTHS_details_box ul .listitemsMsgPro {
        margin-top: 0px;
    }

    #closeBtn_left_msgPro {
        opacity: 1;
        cursor: pointer;
        pointer-events: initial;
    }

    #closeBtn_right_msgPro {
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

    /*MESSAGE TO SUPPORT POPUP*/

    .form-container-messageSupport {
        flex-direction: column;
    }

    .form-popup-messageSupport {
        margin-bottom: 25%;
        max-height: 800px;
    }

    .support_details_box {
        padding-top: 24px;
        height: 200px;
    }

    .support_details_box ul {
        margin-left: -16px;
    }

    .support_details_box ul .listitemsMsgSupport {
        margin-top: 0px;
    }

    #pop_up_header_messageSupport {
        margin-left: 16px;
        margin-top: -4px;
    }

    #closeBtn_left_msgSupport {
        opacity: 1;
        cursor: pointer;
        pointer-events: initial;
    }

    #closeBtn_right_msgSupport {
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

    /*EDIT PROFILE/CHANGE USER INFO POPUP*/

    .form-container-changeUserInfo {
        flex-direction: column;
    }

    .form-popup-changeUserInfo {
        margin-bottom: 25%;
        max-height: 800px;
    }

    .form-container-changeUserInfo .changeUserInfo_send_btn {
        width: 100px;
    }

    .form-container-changeUserInfo .cancel {
        width: 40px;
    }



    #closeBtn_left_changeUserInfo {
        opacity: 1;
        cursor: pointer;
        pointer-events: initial;
    }

    #closeBtn_right_changeUserInfo {
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

    #pop_up_header_changeUserInfo {
        margin-top: 0px;
    }

    .form-container-changeUserInfo input[type=text].smallInput,
    input[type=email].smallInput,
    input[type=password].smallInput {
        width: 90%;
    }
}

