/* The popup/modal form - hidden by default */

/*SLEEPMETER*/
.form-popup-sleep {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15%;
    margin-bottom: 5%;
    z-index: 3;
    height: 80%;
    width: 70%;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .4);
}

#popup-left-sleep {
    flex: 1.5;
    background-color: white;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-radius: 5px;
    flex-direction: column;
}

#popup-right-sleep {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgb(151, 150, 150);
    border-radius: 5px;
    flex-direction: column;
}

#sleep_p {
    color: black;
    font-size: 1.5em;
    font-style: italic;
    margin-top: 10%;
}

#pop_up_header_sleep_meter {
    margin-top: 40px;
}

#pop_up_header_add_notes_sleep {
    margin-top: -15px;
}

/* Add styles to the form container */
.form-container-sleep {
    height: 100%;
    padding: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
}

/* input field */
.form-container-sleep input[type=text].bigInput {
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    float: right;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    width: 60%;
    height: 65%;
}

/* When the inputs get focus, do something */
.form-container-sleep input[type=text]:focus.bigInput {
    background-color: white;
    outline: none;
    border-radius: 8px;
}

/* Set a style for the submit/login button */
.form-container-sleep .sleep_save_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container-sleep .cancel {
    background-color: red;
    align-self: flex-end;
    align-items: center;
    padding: 0px 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 2em;
}

/* Add some hover effects to buttons */
.form-container-sleep .sleep_save_btn:hover {
    opacity: 1;
}

.smiley_meter_sleep {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 15%;
}

.smiley_img_sleep {
    width: 15%;
    min-width: 50px;
    margin: 2%;
    margin-top: -4%;
}

/*MOODMETER*/

.form-popup-mood {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15%;
    margin-bottom: 5%;
    z-index: 3;
    height: 80%;
    width: 70%;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .4);
}

#popup-left-mood {
    flex: 1.5;
    background-color: white;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-radius: 5px;
    flex-direction: column;
}

#popup-right-mood {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgb(151, 150, 150);
    border-radius: 5px;
    flex-direction: column;
}

#mood_p {
    color: black;
    font-size: 1.5em;
    font-style: italic;
    margin-top: 10%;
}

#pop_up_header_mood {
    margin-top: 40px;
}

#pop_up_header_add_notes_mood {
    margin-top: -15px;
}

/* Add styles to the form container */
.form-container-mood {
    height: 100%;
    padding: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
}

/* input field */
.form-container-mood input[type=text].bigInput {
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    float: right;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    width: 60%;
    height: 65%;
}

/* When the inputs get focus, do something */
.form-container-mood input[type=text]:focus.bigInput {
    background-color: white;
    outline: none;
    border-radius: 8px;
}

/* Set a style for the submit/login button */
.form-container-mood .mood_save_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container-mood .cancel {
    background-color: red;
    align-self: flex-end;
    align-items: center;
    padding: 0px 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 2em;
}

/* Add some hover effects to buttons */
.form-container-mood .mood_save_btn:hover {
    opacity: 1;
}

.smiley_meter_mood {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 15%;
}

.smiley_img_mood {
    width: 15%;
    min-width: 50px;
    margin: 2%;
    margin-top: -4%;
}

/*BLOOD PRESSURE FORM*/

.form-popup-bloodpressure {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15%;
    margin-bottom: 5%;
    z-index: 3;
    height: 80%;
    width: 70%;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .4);
}

#popup-left-bloodpressure {
    flex: 1.5;
    background-color: white;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-radius: 5px;
    flex-direction: column;
}

#popup-right-bloodpressure {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgb(151, 150, 150);
    border-radius: 5px;
    flex-direction: column;
}

#bloodpressure_a {
    color: rgb(26, 0, 156);
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 5%;
}

#pop_up_header_bloodpressure {
    margin-top: 40px;
}

#pop_up_header_add_notes_bloodpressure {
    margin-top: -40px;
}

/* Add styles to the form container */
.form-container-bloodpressure {
    height: 100%;
    padding: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
}

/* input fields */

.form-container-bloodpressure input[type=text].smallInput {
    padding: 10px;
    background: #f1f1f1;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    margin-bottom: 5%;
}


.form-container-bloodpressure input[type=text].bigInput {
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    float: right;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    width: 60%;
    height: 65%;
}

/* When the inputs get focus, do something */
.form-container-bloodpressure input[type=text]:focus.smallInput.bigInput {
    background-color: white;
    outline: none;
    border-radius: 8px;
}

/* Set a style for the submit/login button */
.form-container-bloodpressure .bloodpressure_save_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 10%;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container-bloodpressure .cancel {
    background-color: red;
    align-self: flex-end;
    align-items: center;
    padding: 0px 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 2em;
}

/* Add some hover effects to buttons */
.form-container-bloodpressure .bloodpressure_save_btn:hover {
    opacity: 1;
}

/*SEND MESSAGE TO PROFESSIONAL*/

.form-popup-messagePro {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15%;
    margin-bottom: 5%;
    z-index: 3;
    height: 80%;
    width: 70%;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .4);
}

#popup-left-messagePro {
    flex: 1.5;
    background-color: white;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-radius: 5px;
    flex-direction: column;
}

#popup-right-messagePro {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgb(151, 150, 150);
    border-radius: 5px;
    flex-direction: column;
}

#messagePro_a {
    color: rgb(26, 0, 156);
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 5%;
}

#pop_up_header_messagePro {
    margin-top: 40px;
}

#pop_up_header_add_notes_messagePro {
    margin-top: -40px;
}

/* Add styles to the form container */
.form-container-messagePro {
    height: 100%;
    padding: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
}

/* input fields */

.form-container-messagePro input[type=text].smallInput  {
    margin-bottom: 7%;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    padding: 2%;
}

.form-container-messagePro input[type=text].bigInput {
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    float: right;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    width: 60%;
    height: 65%;
}

/* When the inputs get focus, do something */
.form-container-messagePro input[type=text]:focus.bigInput.smallInput {
    background-color: white;
    outline: none;
    border-radius: 8px;
}

/* Set a style for the submit/login button */
.form-container-messagePro .message_send_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 10%;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container-messagePro .cancel {
    background-color: red;
    align-self: flex-end;
    align-items: center;
    padding: 0px 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 2em;
}

/* Add some hover effects to buttons */
.form-container-messagePro .message_send_btn .message_send_btn:hover {
    opacity: 1;
}

/*MESSAGE TO SUPPORT*/

.form-popup-messageSupport {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15%;
    margin-bottom: 5%;
    z-index: 3;
    height: 80%;
    width: 70%;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .4);
}

#popup-left-messageSupport {
    flex: 1.5;
    background-color: white;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-radius: 5px;
    flex-direction: column;
}

#popup-right-messageSupport {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgb(151, 150, 150);
    border-radius: 5px;
    flex-direction: column;
}

#messageSupport_a {
    color: rgb(26, 0, 156);
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 5%;
}

#pop_up_header_messageSupport {
    margin-top: 40px;
}

#pop_up_header_add_notes_messageSupport {
    margin-top: -40px;
}

/* Add styles to the form container */
.form-container-messageSupport {
    height: 100%;
    padding: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
}

/* input fields */

.form-container-messageSupport input[type=text].smallInput  {
    padding: 10px;
    width: 20%;
    background: #f1f1f1;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    margin-bottom: 7%;
}

.form-container-messageSupport input[type=text].bigInput {
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    float: right;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    width: 60%;
    height: 65%;
}

/* When the inputs get focus, do something */
.form-container-messageSupport input[type=text]:focus.smallInput.bigInput {
    background-color: white;
    outline: none;
    border-radius: 8px;
}

/* Set a style for the submit/login button */
.form-container-messageSupport .messageIT_send_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 10%;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container-messageSupport .cancel {
    background-color: red;
    align-self: flex-end;
    align-items: center;
    padding: 0px 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 2em;
}

/* Add some hover effects to buttons */
.form-container-messageSupport .message_send_btn .message_send_btn:hover {
    opacity: 1;
}

/*CHANGE USER INFO*/

.form-popup-changeUserInfo {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15%;
    margin-bottom: 5%;
    z-index: 3;
    height: 80%;
    width: 70%;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .4);
}

#popup-left-changeUserInfo {
    flex: 1.5;
    background-color: white;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#popup-right-changeUserInfo {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgb(151, 150, 150);
    border-radius: 5px;
    flex-direction: column;
}

#pop_up_header_changeUserInfo {
    margin-top: 40px;
}

.fl_name {
    margin-top: -40px;
    line-height: 2;
}

/* Add styles to the form container */
.form-container-changeUserInfo {
    height: 100%;
    padding: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
}

.changeUserInfoAttr{
}

/* input fields */

.form-container-changeUserInfo input[type=text].smallInput  {
    margin-top: -15px;
    padding: 5px;
    background: #f1f1f1;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}

/* When the inputs get focus, do something */
.form-container-messageSupport input[type=text]:focus.smallInput {
    background-color: white;
    outline: none;
    border-radius: 8px;
}

/* Set a style for the submit/login button */
.form-container-changeUserInfo .changeUserInfo_send_btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-bottom: 10%;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container-changeUserInfo .cancel {
    background-color: red;
    align-self: flex-end;
    align-items: center;
    padding: 0px 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 2em;
}

/* Add some hover effects to buttons */
.form-container-mchangeUserInfo .changeUserInfo_send_btn:hover {
    opacity: 1;
}


@media screen and (max-width:750px) {

    .form-container-sleep {
        flex-direction: column;
    }

    .form-popup-sleep {
        height: 95%;
        margin-right: 18%;
    }

    .form-container-mood {
        flex-direction: column;
    }

    .form-popup-mood {
        height: 95%;
        margin-right: 18%;
    }

    .form-container-bloodpressure {
        flex-direction: column;
    }

    .form-popup-bloodpressure {
        height: 95%;
        margin-right: 18%;
    }

    .form-container-messagePro {
        flex-direction: column;
    }

    .form-popup-messagePro {
        height: 95%;
        margin-right: 18%;
    }

    .form-container-messageSupport {
        flex-direction: column;
    }

    .form-popup-messageSupport {
        height: 95%;
        margin-right: 18%;
    }
}