* {
    box-sizing: border-box;
}

body {
    margin: auto;
    margin-top: 16px;
    max-width: 1400px;
    background-color: #7494AC;
}

html {
    background-color: rgb(233, 233, 233);
    font-family: 'Roboto', sans-serif;
    background-color: #7494AC;
}

.clear {
    clear: both;
}

.wrapper {
    height: 100%;
    background-color: white;
    padding: 30px;
    margin-left: 5vw;
    margin-right: 5vw;
    z-index: 1;
    border-radius: 5px;
}

header {
    display: flex;
    height: 1em;
    justify-content: flex-end;
    padding-bottom: 40px;
    border-bottom: 2px solid black;
    align-items: center;
    background: #fffcfc;
}

.unislogo {
    height: 6em;
    margin-right: auto;
    margin-left: 3.5em;
    margin-top: 2.6em;
}

#UNIS_main_header{
    font-size: 1.5vw;
    margin-right: auto;
    margin-left: 3.5em;
    margin-top: 1.5em;
    font-style: italic;
    color: #0D3D64;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 10%;
    align-items: center;
    flex-direction: row;
}

header nav li {
    padding: 2vw;
}

header nav a {
    padding: 2vw;
}

.fa-circle-info {
    color: #0D3D64;
    font-size: 3em;
    margin-top: 2vh;
}

.fa-circle-info:hover {
    color: rgb(85, 0, 255);
    text-shadow: 2px 2px 6px #3b3b3b;
    cursor: pointer;
}

.fa-envelope {
    color: #0D3D64;
    font-size: 3em;
    margin-top: 2vh;
}

.fa-envelope:hover {
    color: rgb(85, 0, 255);
    text-shadow: 2px 2px 6px #3b3b3b;
    cursor: pointer;
}

.logOutButton {
    align-items: center;
    background-color: #c543470f;
    border-radius: 3px;
    border-width: 1px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #C54347;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    width: 48px;
    justify-content: center;
    list-style: none;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 0.8em;
    font-weight: 600;
    margin-top: 10px;
}

.logOutButton:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.logOutButton:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(244, 0, 0);
    border-color: red;
}

.logOutButton:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

main {
    display: flex;
    background-color: white;
    height: 100%;
    margin-top: 40px;
}

#left {
    flex: 1;
    background-color: #7494ac57;
    display: flex;
    justify-content: center;
    border-style: ridge;
    border-radius: 5px;
    padding-top: 32px;
}

.userimg {
    height: 6em;
    width: 6em;
    border-radius: 50%;
    margin: 3px;
    margin-bottom: 40px;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fl_name {
    line-height: 1;
}

#right {
    display: flex;
    flex: 4;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
}


#hrv_load {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    font-size: 1.5em;
    align-items: center;
    margin-bottom: 1em;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.751), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    color: #0D3D64;
    background-color: #7494ac10;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 14pt;
    font-weight: 600;
}

#hrv_load:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#hrv_load:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(85, 0, 255);
}

#mhrv_load:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.main_function_measure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 180px;
    height: 180px;
    margin: 2vw;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.751), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    color: #0D3D64;
    background-color: #7494ac10;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 1.1em;
    font-weight: 600;
}

.main_function_measure:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.main_function_measure:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(85, 0, 255);
}

.main_function_measure:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.main_function_other {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    margin: 2vw;
    text-align: left;
    border-radius: 50px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.751), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    color: #36395A;
    background-color: #7494ac10;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 1.1em;
    font-weight: 600;
}

.main_function_other:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.main_function_other:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(85, 0, 255);
}

.main_function_other:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

button a {
    display: flex;
    justify-content: center;
    width: 100%;
}

#heart_img {
    height: 2.2em;
    margin-right: 1em;
    margin-top: 2px;
}

#sleep_img {
    height: 5.5em;
    margin: 8px;
}

#mood_img {
    height: 5.5em;
    margin: 8px;
}

#blood_pressure_img {
    height: 5.5em;
    margin: 8px;
}

#oxygen_img {
    height: 5.8em;
    margin: 8px;
}

#graph_img {
    height: 5.5em;
    margin: 8px;
}

#book_img {
    height: 4em;
    margin: 16px;
}

.light_img {
    height: 16px;
    margin-left: 10px;
}

.patient_info_list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    margin-top: 24px;
    color: black;
    font-size: 1rem;
    line-height: 1em;
}

.patient_info_list ul {
    list-style-type: none;
    font-size: 0.8rem;
    margin-right: 2em;
    margin-top: 1.5em;
    margin-left: -16px;
}

.profile_details_box {
    background-color: white;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    width: 100%;
}

.edit_profile_button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 2px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #0D3D64;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    width: 100%;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 24px;
}

.edit_profile_button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.edit_profile_button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(85, 0, 255);
}

.edit_profile_button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7494AC;
    height: fit-content;
    margin-left: 5vw;
    margin-right: 5vw;
    border-top: 2px solid black;
}

.copy {
    text-align: center;
    color: black;
    font-style: italic;
}

/*MEDIA SCREENS*/


/*NARROW SCREENS 1*/

@media screen and (max-width:1175px) {

    .main_function_measure {
        width: 150px;
        height: 150px;
        font-size: 11pt;
    }

    .main_function_other {
        width: 150px;
        height: 150px;
        font-size: 11pt;
    }

}

/*NARROW SCREENS 2*/

@media screen and (max-width:995px) {

    .main_function_measure {
        width: 130px;
        height: 130px;
        font-size: 10pt;
    }

    .main_function_other {
        width: 130px;
        height: 130px;
        font-size: 10pt;
    }

    #right {
        justify-content: space-around;
    }

    #bp_btn_text {
        font-size: 8pt;
    }

}

/*MOBILE*/

@media screen and (max-width:750px) {

    .wrapper {
        min-width: 200px;
    }

    .container {
        flex-direction: column;
    }

    .unislogo {
        height: 80px;
        margin-right: auto;
    }

    #UNIS_main_header{
       visibility: hidden;
       margin-left: -8px;
    }

    header nav li {
        padding: 0.5vw;
    }

    .logOutButton {
        width: 32px;
        height: 32px;
        font-size: 0.7em;
        border-color: black;
        margin-right: 16px;
    }

    #left {
        order: 2;
    }

    #right {
        order: 1;
        justify-content: space-around;
    }

    .main_function_measure {
        width: 70%;
        min-width: 130px;
        min-height: 130px;
    }

    .main_function_other {
        width: 70%;
        min-width: 130px;
        min-height: 130px;
    }

    .userimg {
        height: 25vh;
        width: 25vh;
    }

    #bp_btn_text {
        font-size: 10pt;
    }
}